.DS_Store
build/
_minted-*/
_docshots/
docshots.ds.*
iexec.ret
docshots.tex
*.docshots
*.diff
*.tcx
*.zip
*.toc
docshots.pdf
*.bbl
*.bcf
*.blg
*.glo
*.sty
*.fdb_latexmk
*.fls
*.aux
*.pug
*.log
*.run.xml
*.aux
*.pyg
*.out
*.dvi
*.idx
*.ilg
*.ind
*.exc
*.synctex.gz
*.tmp