*.aux
*.bbl
*.bcf
*.blg
*.diff
*.docshots
*.dvi
*.exc
*.fdb_latexmk
*.fls
*.glo
*.idx
*.ilg
*.ind
*.log
*.out
*.pug
*.pyg
*.run.xml
*.sty
*.synctex.gz
*.tcx
*.tmp
*.toc
*.zip
.DS_Store
.idea/
_docshots/
_minted-*/
build/
docshots.ds.*
docshots.pdf
docshots.tex
iexec.ret
node_modules/
